<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3"></div>
        <div class="col-md-6 about" style="background-color: white; opacity: 0.9; padding-top: 80px; padding-bottom: 80px;">
            <h1 class="text-center text-info">ABOUT</h1>

            <p style="color: black; font-size: larger;">
                Okoa is a Saving’s platform enabling SACCOs, Saving clubs, Investment clubs, groups, associations,
                Cooperatives and organisations of interest to setup in the quickest time possible while managing
                members, their contributions and offering add-on services to members like paying for bills, Airtime/Data
                recharges, Asset financing, Micro insurance, Investment advice and access to loans using their
                contributions while earning interests for the group.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
