<div class="row" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color: white; opacity: 0.9; padding: 10px;">
        <h3 class="text-center text-info">Login</h3>
        <form ng-submit="login()">
            <div class="form-group">
                <!--<label for="exampleInputEmail1">Email address</label>-->
                <input type="number" ng-model="login.phone" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group">
                <!--<label for="exampleInputPassword1">Password</label>-->
                <input type="number" ng-model="login.pin" class="form-control" placeholder="PIN">
            </div>
            <button type="submit" class="btn btn-success form-control">LOGIN</button>
        </form>
        <div class="row">
            <div class="col-md-6">
                <a ui-sref="home.register">Register</a>
            </div>
            <div class="col-md-6">
                <a ui-sref="home.forgot">Forgot Password</a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>