<div class="" style="background-color: #0b153c;">
    <button class="btn btn-default pull-left" style="border-width: 0; background-color: transparent; color: #ffffff;" ng-click="back()"><span class="fa fa-2x fa-arrow-left"></span></button>
    <ul class="list-inline pull-right" style="margin: 0; padding-top: 2%;">
        <li><span class="fa fa-2x fa-search" style="border-width: 0; background-color: transparent; color: #ffffff;" ng-click="search()"></span></li>
        <li><span class="fa fa-2x fa-shopping-cart" style="border-width: 0; background-color: transparent; color: #ffffff;" ng-click="search()"></span></li>
        <li><span class="fa fa-2x fa-star" style="border-width: 0; background-color: transparent; color: #ffffff;" ng-click="search()"></span></li>
    </ul>
    <div class="clearfix"></div>
</div>